@model List<Models.EntityFramework.ProductCategory>
    <ul>
        <h3>Danh mục sãn phẩm</h3>
        @foreach (var item in Model)
        {
            <li><a href="/san-pham/@item.MetaTitle-@item.ID">@item.Name</a></li>
        }
    </ul>
